  html{
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    margin:0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e2e2e2;
  }

  header h1{
padding-left: 1rem;
padding-right: 1rem;
  }

  header img{
    max-width: 2rem;
    order: -1;
    padding-left: 1rem;
  }

  header p {
    font-size: 1.125rem;
  }

  nav ul{
    font-size: 1.125rem;
    list-style: none;
    display: flex;
  }

  a:hover{
    color: #fff;
  }

  nav a{
    color: #007fd9;

  }
